.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
    align-items: center;
    font-size: 18px;


    &-links {
        margin-right: 55px;
        display: flex;
        grid-column: 5/span 4;
        justify-content: space-between;

        a {
            text-decoration: none;
            outline: none;
            color: #446381;
        }
    }


    &-btn {
        grid-column: span 2;
        @include mainBtn;

    }

}